<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>登录</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <base href="/">
    <link rel="stylesheet" href="./css/style_end/ashore.css">
    <link rel="stylesheet" href="./css/style_end/public.css">
</head>
<body>
<div class="heard">
    <div class="logo"><img src="./images/img_end/logo.gif"/><span><img src="./images/img_end/fenge.gif"/></span>
        <span>系统管理</span></div>

</div>
<div class="middle">
    <div class="case">
        <div class="case1">
            <div class="loginDemo1">
                <label id="username_err_message1"></label>
                <p for="user1" class="word_style">用户名：   </p>
                <input type="text" class="username1" id="user1" placeholder="请输入用户名或手机号码" /><br />

                <label id="password_err_message1"></label>
                <p for="password" class="word_style" style="margin-top: 20px">密&nbsp;&nbsp;&nbsp;&nbsp;码： </p>
                <input type="password" class="password1" id="password" placeholder="请输入密码" /><br />
                <input type="submit" class="btn btn-inverse" id="login_button_style" value="登&nbsp;&nbsp;录"style="color: #ffffff"/>
            </div>

    </div>



</div>
    <h1>农加易系统管理平台</h1>

</div>
<div id="landingFooter">

    <p id="copyRight">Copyright ©广州神农网络科技有限公司主办|<span>粤ICP备12071480-4号</span></p>

</div>
 </body>
</html>