<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN">
<!--[if IE 8]>         <html xmlns:ng="http://angularjs.org" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html xmlns:ng="http://angularjs.org" class="no-js">
<!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>供应商审核</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <base href="/">
    <link rel="stylesheet" href="./css/style_end/public.css">
    <link rel="stylesheet" href="./css/style_end/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style_end/layout.css">
    <link rel="stylesheet" href="./css/style_end/aduit.css">
    <link rel="stylesheet" href="./css/style_end/style.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="./css/common.css" />
    <link rel="stylesheet" href="./css/banner.css" />
    <link rel="stylesheet" href="./css/index.css" />



</head>
<body id="gy-app" ng-app="njyApp" ng-cloak>
<div class="Top">
    <!--头部导航条-->
    <p>农加易管理系统</p>
    <div class="Right_top">
        <span>您好，admin！</span>
        <img src="./images/img_end/back.gif" style="height:18px; width:24px" /><span>退出</span>

    </div>
</div>
<div class="Left_list">
    <div class="list_main">
        <ul>
            <li><img src="./images/img_end/ri2.gif" style="height: 16px;width: 18px;" />订单管理<span>&nu;</span></li>
            <li style="display: none"> <img src="./image/ri2.gif" alt="">订单分配<span>&nu;</span></li>
            <li style="display: none"> <img src="./image/ri2.gif" alt="">订单处理<span>&nu;</span></li>
        </ul>
    </div>

</div>
<div class="list_foot">
    <div class="list">
        <ul class="nav">
            <li></li>
        </ul>

        <dl>
        <dt><img src="./images/img_end/zoom.gif" style="height: 17px;width: 18px;"/><p>审核管理</p> <span>&nu;</span></dt>

            <dd>供应商审核</dd>
            <dd>采购商审核</dd>
        </dl>
    </div>

</div>
<div class="list_about">
    <div class="nav_top">
        <span>您的位置：</span><span>审核管理 > 供应商管理</span>

    </div>
    <div class="head"></div>
    <div class="Tb" ng-controller="indexController">

        <h1 style="font-size:16px;color: #333333 ">供应商审核</h1>
        <ul class="message">
            <li><span>农加网账号</span><input type="text" placeholder="user295">    </li>
            <li> <span>供应商名称</span><input type="text" placeholder="广东省梅州市李银河合作社">   </li>
            <li> <span>供应商类型</span> <input type="text"> </li>
            <li> <span>所在地</span><div style="display: inline-block" njy-addrarea data-province="{{province}}" data-city="{{city}}" data-county="{{county}}" area-result="areaResult"></div></li>
            <li><span>主营业务</span>   <input type="text">  </li>
            <li><span> 联系人</span>  <input type="text"> </li>
            <li><span>联系方式</span><input type="text"> </li>
        </ul>
        <ul class="other">
            <li><span>供应商图片</span><span id="uploadImg">
<input type="file" id="read" size="1" >
<a href="#">上传图片</a> </span></li>
            <li id="la" style="margin-top: 53px">
                <span style="color: #666666;font-size: 16px">审核结果</span>
                <input type="radio" style="outline:none" name="状态" id="审核通过"/>
                <label for="审核通过"><span>审核通过</span></label>
                <input type="radio" style="outline:none" name="状态" id="审核不通过"/>
                <label for="审核不通过"><span>审核不通过</span></label>

            </li>
            <li id="op">
                <span>审批意见<p>(选填)</p></span><input type="text"></li>
            <li id="fin">
                <input type="button" value="提交审核" class="le">
                <input type="button" value="返回" class="ri">
            </li>
        </ul>

    </div>





</div>
</div>
<!--js-->
<script src="./js/vendor/modernizr-2.6.2.min.js"></script>
<script src="./js/vendor/jquery-1.11.1.min.js"></script>
<script src="./js/vendor/jquery.placeholder.js"></script>
<script src="./js/lib/angular-1.2.32/angular.js"></script>
<script src="./js/lib/angular-ui-router-0.2.10/angular-ui-router.js"></script>
<script src="./js/util.js"></script>
<script src="./js/config.js"></script>
<script src="./js/directive/directives.js"></script>
<script src="./js/model/model.js"></script>
<script src="./js/lib/lib_end/bootstrap.min.js"></script>
<script src="./js/index.js"></script>

</body>
</html>