
<!-- 页头-start -->
<div njy-pageheader></div>
<!-- 页头-end -->
<!-- logo层，右侧可以是 search-搜索框，backToIndex-返回首页图标，step-结算页中的步骤 -->
<div njy-pagelogo data-title="农加易管理" data-right="step"></div>
<!-- logo层-end -->
<div class="w1200 contain-bal">
    <a ui-sref="shopcart" class="goBack">< 返回购物车</a>
    <!--收货信息-->
    <div class="rec-inf">
        <p class="inf-p1">收货信息 <a ng-click="toAddAddr()" ng-show="addAddr?0:haveAddr">新增收货地址</a></p>
        <p ng-show="addAddr?0:!haveAddr" class="inf-p2">暂无可用地址，请<a ng-click="toAddAddr()">新增收货地址</a></p>
        <div ng-show="addAddr" class="new-rec">
            <div class="left-div">
            <ul>
                <li><span>
                        <b>*</b> 收货人
                    </span>
                    <input ng-blur="nameProm()" required ng-model="newAddr.receiveName" id="recName" type="text">
                    <p ng-show="rightName">请填写收货人信息且不超过10个字</p>
                </li>
                <li><span>
                        <b>*</b> 联系电话
                    </span>
                    <input ng-blur="phoneProm()" required ng-model="newAddr.number" id="phone" type="text">
                    <p ng-show="rightPhone">请填入正确的手机号码</p>
                </li>
                <li><span>
                        邮政编码
                    </span>
                    <input ng-model="newAddr.postalCode" id="postalCode" type="text">
                </li>
            </ul>
            <div class="left-rt">
                <p ng-show="rightPlace">请选择地区</p>
            <span><b>*</b> 所在地区:</span>
            <div njy-addrarea data-province="{{province}}" data-city="{{city}}" data-county="{{county}}" area-result="areaResult">
            </div>
            <style>
                .njy-addr-area{
                    display: inline-block;
                    float: left;
                    height: 30px;
                    width: 390px;
                }
                .njy-addr-area .input{
                    width:120px;
                    height: 30px;
                    margin-left: 10px;
                }
            </style>
            </div>
            <div class="left-detail">
                <p ng-show="rightAddr">请填入地址且不超过30个字</p>
                <span><b>*</b> 详细地址:</span><textarea ng-blur="addrProm()" ng-model="newAddr.address" name="" placeholder="请填写详细地址"></textarea>
            </div>
            </div>

                <input ng-click="saveAddr()" class="right-btn right-btn1" type="button" value="保存">
                <input ng-click="cancel()" class="right-btn right-btn2" type="button" value="取消">
        </div>
        <div ng-show="addAddr?0:haveAddr" class="rec-cho">
            <ul>
                <li ng-class="{'show':list.checked}" ng-repeat="(key,list) in contentList">
                    <b ng-show="list.checked" class="bg-f0">寄送至</b>
                    <input ng-click="change(key)" ng-checked="list.checked" name="show" type="radio">
                    <span>
                        <span>{{list.receiveName}}</span>
                        <span>{{list.number}}</span>
                        <span>{{list.province}}</span>
                        <span>{{list.city}}</span>
                        <span>{{list.country}}</span>
                        <span>{{list.address}}</span>
                        <span>邮政编码 {{list.postalCode}}</span>
                        <span ng-show="list.status" class="bg-f0">默认地址</span>
                        <a ng-click='delAddr(list.id,$event,key)' href="#">删除</a>
                        <a ng-click="chgAddr(list.id,key)">修改</a>
                        <a ng-click='defaultAddr(list.id,$event,key)' ng-show="!list.status" href="#">设为默认地址</a>
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <!--//订单信息-->
    <div class="ord-inf" ng-repeat="(key,list) in ordList">
        <p class="p1">订单{{key+1}}</p>
        <p class="p2">供应商：{{list.supplierName}}</p>
        <ul>
            <li class="bor-bot">
                <span class="sp1">商品信息</span>
                <span class="sp2">单价/规格</span>
                <span class="sp3">数量</span>
                <span class="sp4">小计</span>
            </li>
            <li class="products" ng-repeat="li in list.carGoods">
                <span class="sp1"><img src="img/images/shopcart_01.png" alt="">
                <span class="sp5">{{li.goodsName}} </span>
                </span>
                <span class="sp2"><b>￥{{li.price| number : 2}}元</b>/斤</span>
                <span class="sp3">{{li.amount}}</span>
                <span class="sp4"><b class="red">￥{{li.xj}}</b></span>
            </li>
            <li class="last">
                <span class="mid">给供应商留言：</span>
                <textarea ng-model="list.message" class="text" placeholder="可以告诉供应商您的特殊要求（选填）" ></textarea>
                <div class="fl-rt">
                    <p>商品总金额（不含运费）：<b class="red">￥{{total[key]| number : 2}}</b></p>
                    <span>注：运费在提交订单后由供应商确认</span>
                </div>
            </li>
        </ul>
    </div>
    <div class="sub-ord">
        <ul>
            <li ng-repeat="(key,list) in ordList">
                <span>运费（含杂费）：待确定</span>
                <span>商品总金额：<span class="bg-red">￥{{total[key]| number : 2}}</span> </span>
                <span>订单{{key+1}}</span>
            </li>
            <li ng-show="haveAddr" class="li-last">
                <span>邮政编码 {{lastAddr.postalCode}}</span>
                <span>收货人：{{lastAddr.receiveName
}}   {{lastAddr.number}}</span>
                <span>寄送至：{{lastAddr.province}} {{lastAddr.city}} {{lastAddr.country}} {{lastAddr.address}}</span>
            </li>
            <li ng-show="!haveAddr" class="li-last-no">
                <span>暂无可用地址</span>
            </li>
        </ul>
        <p class="sub" ng-click="haveAddr?saveOrder():''">提交订单</p>
        <span class="mid">注：运费和杂费需要提交订单后由供应商确认</span>
    </div>
</div>

<div njy-pagefoot></div>
