
*{
    margin: 0;
    padding:0;
}




ul{
    list-style:none;
    overflow:hidden
}
a{
    text-decoration:none;
}
input::-webkit-input-placeholder {
    /* placeholder颜色  */
    color: #bbbbbb;
    /* placeholder字体大小  */
    font-size: 14px;
    /* placeholder位置  */
    text-align: left;
}
input {
    border: 1px solid #cccccc;
}